/* Тут прописуємо адаптацію для всього сайту */

@media (max-width: 992px){                  /* Прописуємо медіа-правила в діапазоні від 768 до 992 px */
    .advantages{                            /* Беремо блок ADVANTAGES */
        &__wrapper{                         
            width: 100%;                /* МІняємо елементу обгортці ширину на гнучку 100% від батьківського */
            justify-content: space-around;  /* Міняємо вирівнювання флексів */
        }
        &__item{                        
            width: 200px;               /* Встановлюємо нашому елементу в обгортці (3) фіксовану ширину в 200px */
        }
    }
}

@media (max-width: 768px){              /* Прописуємо медіа-правила в діапазоні від 768 до 576 px */
    .header{                        /* Для блоку HEADER */
        &__logo{            
            width: 210px;           /* Зменшуємо ширину в елементі з логотипом */            
            img{
                width: 200px;       /* Трішки коригуємо самі розміри картинки логотипу */
                height: 35px;       /* Ширину і висоту */
            }
        }
        &__official{
            font-size: 10px;        /* Міняємо розмір шрифта для надписів по-центру */
            span{
                font-size: 12px;    /* Так само і для елемента всередині спану */
            }
        }
        &__phone{
            font-size: 15px;        /* Міняємо розмір шрифта для нашого елемента посилання телефонного номеру */
        }
    }
    .promo{                         /* Тепер адаптуємо блок PROMO */
        &__wrapper{                 
            align-items: center;    /* Встановлюємо для елемента обгортки вирівнювання по-центр, а не до правого краю */
        }
        &__header{
            font-size: 35px;        /* Міняємо розмір шрифта для елемента заголовка */
        }
        &__subheader{
            font-size: 20px;        /* Міняємо розмір шрифта для елемента підзаголовка */
        }
        
    }
    .advantages{                    /* Адаптуємо блок ADVANTAGES */
        &__title{
            font-size: 25px;        /* Міняємо розмір шрифта в елементі заголовку */
        }
        &__wrapper{
            flex-direction: column; /* Змінюємо головну вісь в елементі обгортці */
        }
        &__item{
            width: 80%;             /* Висатавляємо ширину для кожного елементу всередині обгортки в 80% від самої обгортки */
            margin-bottom: 40px;    /* Додаємо нижній відступ для кращого розуміння, де який елемент */
        }
        &__subheader{
            margin-top: 10px;       /* Зменшуємо відступ зверху */
        }
        &__descr{
            margin-top: 10px;       /* Також зменшуємо відступ зверху */
        }
        
    }
}

@media (max-width: 576px){          /* Прописуємо медіа-правила на екранах менших, ніж 576 px */
    .header{ 
        justify-content: space-around;  /* Змінюємо в блоці хедер вирівнювання флексів */
        &__official{
            display: none;              /* Ховаємое в хедері середній елемент з текстом */
        }
        &__contacts{
            align-items: flex-start;    /* В елементі з контактами і кнопкою вирівнюємо все на початок елементу */
        }
    }
    .promo{
        padding: 21px 20px 93px 20px;   /* Виставляємо нові відступи для блоку PROMO */
        &__wrapper{
           width: 100%;                 /* Ставимо елементу обгортці 100% ширини від батьківського */
        }
        &__header{
            font-size: 30px;            /* Змінюємо розмір шрифта для елемента заголовка */
            line-height: 31px;          /* Змінюмєо також висоту лінії для коректніших відступів */
        }
        &__subheader{
            font-size: 18px;            /* Змінюємо розмір шрифта для елемента підзаголовка */
            line-height: 20px;          /* Також змінюємо висоту лінії */
            margin-top: 10px;           /* Змінюємо верхній відступ */
        }
        &__icons{
            justify-content: center;    /* Вирівнюємо наш елемнт з іконками по-центру флексами */
        }
    }
    .button{
        width: 130px;                   /* Змінюємо розміри кнопки в хедері */
        height: 30px;
        font-size: 10px;                /* Змінюємо розмір шрифта в кнопці в хедері */
    }
}