@import 'base/variables';       /* Підключаємо файл зі змінними */

*{
    font-family: 'Museo Sans Cyrl', sans-serif;     /* Підключаємо шрифти для всіх стркутур на сайті */
}
.container{                 /* Стилізуємо контейнер по ширині й по центру. Він буде використовуватись для всіх секцій */
    max-width: 950px;       /* Виставляємо максимальну висоту, яку виміряли */
    margin: 0 auto;         /* Вирівнюємо по-центру наш контейнер */
}
@import 'blocks/promo';     /* Підключаємо в головний файл файл стилізації секції PROMO */
@import 'blocks/header';    /* Підлкючаємо хедер окремим файлом від promo, бо він є окремим блоком і може повторюватись на сайті */
@import 'blocks/buttons';   /* Підключаємо стилізацію наших кнопок */
@import 'blocks/advantages'; /* Підключаємо блок ADVANDAGES */
@import 'base/media';           /* Підключаємо наш файл з адаптацією сайту */
@import 'blocks/titles';    /* Підключаємо стилізацію заголовків на сайті */
@import 'blocks/consultation';  /* Підключаємо стилізацію блоку CONSULTATION */
@import 'blocks/forms';     /* Підключаємо стилізацію блоку форм */