/* В цьому файлі стилізуємо блок ADVANTAGES, тобто другий великий блок нашого сайту
    Тут будуть описані переваги, також окремим файлом для зручності
    Тут буде заголовок, три елементи з картинками і описами */

.advantages{            /* Стилізуємо блок ADVANTAGES, встановлюємо йому мінімальну висоту, відступи і відступи безпеки */
    min-height: 470px;      /* Вказуємо мінімальну висоту */
    background-color: #f6f6f6;      /* Встановлюємо колір фону */
    padding: 69px 15px 78px 15px;       /* Встановлюємо верхні й нижні відступи, а також відступи безпеки збоку */
    &__wrapper{             /* Стилізуємо елемент обгортку для елементів з картинками і текстом */
        width: 930px;       /* Встановлюємо фіксовану ширину для того, щоб елементи не вилазили за її межі */
        margin-top: 65px;   /* Робимо відступ зверху від заголовку */
        display: flex;      /* Обираємо флекси для вирівнювання всередині елемнету */
        justify-content: space-between; /* Вирівнюємо по-горизонталі таким способом */
    }
    &__item{                /* Стилізуємо елементи в обгортці, їх три */
        width: 250px;       /* Встановлюємо кожному елементу фіксовану ширину */
        margin: 0 auto;     /* Вирівнюємо елементи по-центру */
        img{                /* Вирівнюємо іконки */
            display: block; /* Встановлюємо їй блок, щоб можна було вирівнювати */
            margin: 0 auto; /* Вирівнюємо по-центр */
        }
    }
    &__subheader{           /* Стилізуємо елемент підзаголовок під іконками і додаємо відступ*/
        margin-top: 30px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr{               /* Стилізуємо елемент опис під картинкою і підзаголовком і додаємо відступ */
        margin-top: 20px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        span{                   /* Також стилізуємо текст всередині спану на червоний і підкреслений */
            color: #ff0000;
            text-decoration: underline;
        }
    }
}