/* Стилізуємо наші кнопки BUTTON, візьмемо за взірець першу кнопку на сайті
Всі інші кнопки будуть достилізовуватись модифікатором */

.button{                    /* Задаємо стилі нашим кнопкам */   
    width: 150px;            /* ЗА допомогою модифікаторів ці всі значення зможуть змінюватись на інших кнопках */
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;      /* Колір кнопки запишемо змінною, яку ми вже додали в відповідний файл SCSS */
    border: none;                       /* Прибираємо зайвий обідок, який утворився */
    color: #ffffff;                     /* ПОчинаючи звідси, стилізуємо вже текст вередині кнопки */
    font-size: 12px;
    font-weight: 500;
    text-align: center;                 /* Вирівнюємо текст по-центру кнопки */
    text-transform: uppercase;          /* Все капсом */
    &_main{                     /* Стилізуємо модифікатор для нашої головної кнопки на першій сторінці сайту */
        width: 300px;           /* Додаємо лише ті параметри, що змінюються, ширину, висоту кнопки */
        height: 50px;
        font-size: 16px;        /* Додаємо зміни до тексту всередині кнопки */
        margin-top: 67px;
    }
    &_submit{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
}