/* Стилізуємо блок HEADER окремо від секції, оскільки він може повторюватись і є окремим блоком */

.header{                /* Додаємо хедер, вирівнюємо його флексами */
    display: flex;      /* Додаємо блоку display флекс */
    justify-content: space-between;     /*Вирівнюємо по головній осі(горизонтальній)  */
    align-items: center;                /* Вирівнюємо по допоміжній осі по-центр(вертикальній */
    &__logo{                            /* Убезпечуємо себе, якщо картинка на сайті в майбутньому буде мінятись, тому прописуємо цей клас */
        width: 250px;                   /* І виставляємо стабільну ширину в 250 */
        img {                           /* Також прописуємо картинку всередині лого */
            width: 100%;                /* І кажемо, що вона завжди займатиме 100% місця, яке їй відведене */
        }                           
    }
    &__official{                        /* Стилізуємо середній елемент в хедері */
        color: #ffffff;               /* Описуємо загальні правила для тексту */
        font-size: 12px;   
        font-weight: 400;
        text-align: center;
        span{                           /* В спані знаходився другий рядок тексту, який відрізнявся розміром */
            display: block;             /* Робимо його блочним елементом, щоб він займав всю ширину і опустився на рядок нижче */
            font-size: 18px;            /* Виставляємо йому більший розмір шрифта */
        }
    }
    /* Далі мав би бути елемент header__contacts, але він, скоріш за все, не потребує стилізації */
    /* Стилізація header__phone */
    &__phone{                   /* Копіюємо всі стилі з Avocode, міняємо товщину шрифта, бо Авокод неправильно записав */
        display: block;         /* Робимо елемент блочним, щоб він займав цілий окремий рядок, оскільки нам треба розділити елементи*/
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;       /* Міняємо з 400 на 700 */
        text-align: right;
        text-decoration: none;  /* Додаємо, що нижнього підкреслення не буде */
        &:hover{                /* Додаємо ефект при наведенні мишкою */
            text-decoration: none;  /* Кажемо, що посилання на телефон не буде підкреслюватись при наведенні */
            color: #ecdfdf;         /* Трохи міняємо колір при наведенні */
        }
    }
    /* Далі мала б бути стилізація кнопки, але її ми зробимо окремим SCSS файлом, оскільки ми зробили нашу кнопку блоком
    Бо вона буде повторюватись неодноразово на сайті */
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}