/* В цьому файлі будемо стилізувати секцію PROMO, тобто першу секцію 
Окремим файлом для зручності, щоб навчитися, як це робиться в великих проектах*/

.promo{             /* Сама секція, головний блок */   
    min-height: 650px;      /* Виставляємо мінімальну висоту секції */
    padding: 21px 15px 93px 15px;     /* Додаємо внутрішні відступи (не зовнішні, для блоків їх додавати не можна, тільки модифікатором). Падінги не впливають на зовнішню геометрію, тому їх можна юзати. Частіше за все, падінги використовуються в такому ключі саме для стилізації секцій */
    background: url(../../img/main.jpg) center (center/cover) no-repeat; /* Ставимо задній фон */
    &__wrapper{                 /* Стилізуємо наш елемент обгортку для хедера, сабхедера, кнопки і іконок */
        display: flex;          /* Вказуємо, що будемо вирівнювати елементи флексами */
        flex-direction: column; /* Встановлюємо головну вісь по-вертикалі */
        align-items: flex-end;  /* Вирівнюємо по-вертикалі в кінецт обгортки */
        margin-top: 102px;      /* Ставимо верхній відступ для обгортки */
    }
    &__header{                  /* Стилізуємо елемент заголовок h1 */
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-align: right;      
        text-transform: uppercase;
        line-height: 37px;      /* Ставимо висоту лінії, щоб порахувати відступ */
    }
    &__subheader{               /* Стилізуємо елемент підзаголовок h2 */
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-align: right;
        text-transform: uppercase;
        line-height: 26px;      /* Ставимо висоту лінії, щоб можна було легше порахувати, як виставляти марджіни */
        margin-top: 15px;       /* Додаємо верхній відступ від заголовка */
    }
    &__icons{                   /* Стилізуємо наш елемент з іконками і підписами до них */
        margin-top: 67px;       /* Додаємо верхній відступ від заголовків */
        width: 450px;           /* Виставляємо фіксовану ширину, щоб елементи розташувались там, де нам треба */
        display: flex;          /* Додаємо флекс відображення, щоб вирівняти їх за допомогою флексів */
        justify-content: space-between;     /* Вирівнюємо елементи */
    }
    &__icon{                    /* Стилізуємо кожен елемент частину елементу icons */
        width: 106px;           /* Також ставимо фіксовану ширину для кожного піделемента */
        text-align: center;     /* Вирівнюємо текст під картинкою по-центру */
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img{                    /* Стилізуємо іконки */
            display: block;     /* Додаємо display: block, щоб картинка витіснила текст вниз від себе*/
            margin: 0 auto;     /* Вирівнюємо її по центру елементу icon */
            margin-bottom: 20px;    /* Додаємо нижні відступи від тексту */
        }
    }
    /* Далі стилізуємо головну кнопку цього блоку, але її стилізуємо в іншому файлі (для кнопок), точніше, лише модифікатор */
    &__link{                /* Стилізуємо елемент з посиланням під кнопкою */
        margin-top: 18px;   /* Верхній відступ від кнопки */
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        a{
            text-transform: uppercase;  /* Вказуємо саме посиланню, що літери будуть в верхньому регістрі */
            text-decoration: underline; /* Вказємо, що текст на посиланні буде підкреслений */
            color: #ffffff;
        }
    }
        
}