/* Тут ми будемо стилізувати наші тайтли, які повторюються часто на сторінці, але іноді з дещо різним\
     кольором чи розміром */

.title{               /* Стилізуємо елемент заголовок блоку */
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left{         /* Стилізуємо заголовок в блоці CONSULTATION, назва його така, бо він єдиний прижатий до ліва */
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
    }